extends ../layout/index 
block contenido 
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-center.text-green Bienes 
            span.font-normal.text-orange Raices
        h2.text-center.text-2xl.font-extrabold Recuperación de Contraseña 
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="").space-y-5.px-6
                    div 
                        label.block.text-sm.uppercase.text-gray.mb-3.font-bold(for="correo_usuario") Correo Electronico
                        input#nombre.w-full.px-3.py-2.border.border-gray.rounded-md.placeholder-gray( type="email" placeholder="Ingresa tu correo" nombre="correo_usuario")
                    
                  
                    .flex.items-center.justify-between
                        a.text-gray.text-xs(href="./createAccount"  class="hover:underline hover:decoration-2 hover:decoration-orange") ¿No tienes cuenta? Cea una cuenta
                        a.text-gray.text-xs(href="./login"  class="hover:underline hover:decoration-2 hover:decoration-orange") inicia sesión
                    input(class="w-full bg-green hover:bg-orange text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")